.content {
  padding: 20px;
}

.container-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listaUser {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.memberCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 20%;
}

.chamadosList h4{
  text-align: center;
}


.memberCard img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.deleteButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.deleteButton:hover {
  background-color: #ff1a1a;
}

h3, p {
  margin: 5px 0;
  text-align: center;
}


@media only screen and (max-width: 1280px) {
  .listaUser{
    flex-wrap: wrap;
    justify-content: center;
  }
  .memberCard{
    width: 30%;
  }
}